In [1]:
import pandas as pd
import requests

In [2]:
df=pd.read_csv('annual_wages.csv')

In [3]:
df

,COUNTRY,Country,SERIES,Series,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,CPNCU,Current prices in NCU,2000,2000,AUD,Australian Dollar,0,Units,NaN,NaN,46286.11108,NaN,NaN
1,AUS,Australia,CPNCU,Current prices in NCU,2001,2001,AUD,Australian Dollar,0,Units,NaN,NaN,48366.62848,NaN,NaN
2,AUS,Australia,CPNCU,Current prices in NCU,2002,2002,AUD,Australian Dollar,0,Units,NaN,NaN,50109.13756,NaN,NaN
3,AUS,Australia,CPNCU,Current prices in NCU,2003,2003,AUD,Australian Dollar,0,Units,NaN,NaN,51867.99994,NaN,NaN
4,AUS,Australia,CPNCU,Current prices in NCU,2004,2004,AUD,Australian Dollar,0,Units,NaN,NaN,54283.66978,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,LTU,Lithuania,USDPPP,In 2019 constant prices at 2019 USD PPPs,2015,2015,USD,US Dollar,0,Units,2019.0,2019.0,23593.35637,NaN,NaN
2096,LTU,Lithuania,USDPPP,In 2019 constant prices at 2019 USD PPPs,2016,2016,USD,US Dollar,0,Units,2019.0,2019.0,24853.85569,NaN,NaN
2097,LTU,Lithuania,USDPPP,In 2019 constant prices at 2019 USD PPPs,2017,2017,USD,US Dollar,0,Units,2019.0,2019.0,26258.42570,NaN,NaN
2098,LTU,Lithuania,USDPPP,In 2019 constant prices at 2019 USD PPPs,2018,2018,USD,US Dollar,0,Units,2019.0,2019.0,27368.00667,NaN,NaN
2099,LTU,Lithuania,USDPPP,In 2019 constant prices at 2019 USD PPPs,2019,2019,USD,US Dollar,0,Units,2019.0,2019.0,28913.89776,NaN,NaN

In [4]:
df_1=df[['COUNTRY','Country','Time','Unit Code','Value']]

In [5]:
df_1.columns=['Country_code','Country','Year','Currency','Annual_income']

In [6]:
income_df=df_1.loc[df_1['Year']==2019]

In [7]:
income_df=income_df.drop_duplicates(subset=['Country'])

In [8]:
income_df=income_df.reset_index(drop=True)

In [9]:
income_df

   Country_code          Country  Year Currency  Annual_income
0           AUS        Australia  2019      AUD   8.360248e+04
1           AUT          Austria  2019      EUR   4.468883e+04
2           BEL          Belgium  2019      EUR   4.724438e+04
3           CAN           Canada  2019      CAD   6.917486e+04
4           CZE   Czech Republic  2019      CZK   4.082113e+05
5           DNK          Denmark  2019      DKK   4.463967e+05
6           FIN          Finland  2019      EUR   4.261754e+04
7           FRA           France  2019      EUR   3.909926e+04
8           DEU          Germany  2019      EUR   4.242128e+04
9           GRC           Greece  2019      EUR   1.758946e+04
10          HUN          Hungary  2019      HUF   3.990645e+06
11          IRL          Ireland  2019      EUR   4.960502e+04
12          ITA            Italy  2019      EUR   3.002826e+04
13          JPN            Japan  2019      JPY   4.402228e+06
14          KOR            Korea  2019      KRW   4.184761e+07
15          LUX       Luxembourg  2019      EUR   6.584320e+04
16          NLD      Netherlands  2019      EUR   4.835871e+04
17          NOR           Norway  2019      NOK   5.798198e+05
18          POL           Poland  2019      PLN   6.005698e+04
19          PRT         Portugal  2019      EUR   1.756195e+04
20          SVK  Slovak Republic  2019      EUR   1.501742e+04
21          ESP            Spain  2019      EUR   2.746776e+04
22          SWE           Sweden  2019      SEK   4.383502e+05
23          CHE      Switzerland  2019      CHF   8.879216e+04
24          GBR   United Kingdom  2019      GBP   3.715418e+04
25          USA    United States  2019      USD   6.583558e+04
26          ISR           Israel  2019      ILS   1.651258e+05
27          SVN         Slovenia  2019      EUR   2.596144e+04
28          EST          Estonia  2019      EUR   1.861122e+04
29          MEX           Mexico  2019      MXN   1.815627e+05
30          ISL          Iceland  2019      ISK   1.045378e+07
31          NZL      New Zealand  2019      NZD   6.954498e+04
32          CHL            Chile  2019      CLP   1.311874e+07
33          LVA           Latvia  2019      EUR   1.611850e+04
34          LTU        Lithuania  2019      EUR   1.454719e+04

In [10]:
rate=("https://api.exchangeratesapi.io/history?start_at=2019-01-01&end_at=2019-12-31&base=USD")
json = requests.get(rate).json()
rate_df=pd.DataFrame.from_dict(json['rates'])
avg_rate=rate_df.mean(axis=1)
avg_rate=avg_rate.to_frame()
avg_rate['Currency']=avg_rate.index
avg_rate.columns=['Rate','Currency']

In [11]:
income1_df=income_df.merge(avg_rate,on='Currency')

In [12]:
income1_df['income_USD']=income1_df['Annual_income']/income1_df['Rate']

In [18]:
income1_df.drop(['Year','Annual_income','Rate'],axis=1)

   Country_code          Country Currency    income_USD
0           AUS        Australia      AUD  58086.613623
1           AUT          Austria      EUR  50020.596455
2           BEL          Belgium      EUR  52881.047124
3           FIN          Finland      EUR  47702.181469
4           FRA           France      EUR  43764.140735
5           DEU          Germany      EUR  47482.503953
6           GRC           Greece      EUR  19688.039846
7           IRL          Ireland      EUR  55523.327202
8           ITA            Italy      EUR  33610.894799
9           LUX       Luxembourg      EUR  73698.861923
10          NLD      Netherlands      EUR  54128.323695
11          PRT         Portugal      EUR  19657.246199
12          SVK  Slovak Republic      EUR  16809.124692
13          ESP            Spain      EUR  30744.902198
14          SVN         Slovenia      EUR  29058.867958
15          EST          Estonia      EUR  20831.699487
16          LVA           Latvia      EUR  18041.578058
17          LTU        Lithuania      EUR  16282.794420
18          CAN           Canada      CAD  52131.247075
19          CZE   Czech Republic      CZK  17799.021931
20          DNK          Denmark      DKK  66923.460020
21          HUN          Hungary      HUF  13728.736003
22          JPN            Japan      JPY  40395.775497
23          KOR            Korea      KRW  35881.345832
24          NOR           Norway      NOK  65871.339584
25          POL           Poland      PLN  15641.182819
26          SWE           Sweden      SEK  46329.755681
27          CHE      Switzerland      CHF  89353.391823
28          GBR   United Kingdom      GBP  47378.063243
29          USA    United States      USD  65835.577640
30          ISR           Israel      ILS  46336.583250
31          MEX           Mexico      MXN   9428.177603
32          ISL          Iceland      ISK  85234.669386
33          NZL      New Zealand      NZD  45787.554610